.cslmainheader
{
  padding: 0;
  margin: 0;
  .header-content 
  {
    margin: 0 0 0 8rem;
    height: 23rem;
  }
}
.comesoonpage {
  width: 100%;
  .coomsoon-main {
    width: 100%;
    height: unset;
    .coomsoon-bg-light {
      width: 100%;
      position: absolute;
      min-height: 130vh;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: bottom;
      z-index: 1;
    }
    .hr-bg-dark
    {
      height: 125vh;
    }
  }
}
.landing-content.comesoonsection {
  padding: 30rem 0 0 0 !important;
  margin: 0 !important;
  .section-heading {
    h2 {
      letter-spacing: 9px;
      font-size: 9rem;
    }
    p {
      margin: 5rem 0 0rem 0;
      z-index: 10;
      font-size: 2.35rem;
    }
    img {
      width: 15rem;
      position: absolute;
      top: -5rem;
      right: -4.5rem;
      z-index: 9;
    }
  }
}
.coomsoontimer {
  display: flex;
  justify-content: center;
  align-items: center;
  .hero-countdopwn-box {
    width: 100%;
    margin: 5.5rem 0 0 0;
  }
  .hero-countdopwn-box > h6 {
    font-size: 1.65rem;
    color: #1f194d;
    margin: 0 0 1.5rem 0;
    font-weight: 600;
  }
  .hero-countdown {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hero-countdown > * {
    margin: 0 0 2.5rem 0;
  }
  .hc-time-box {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 2.5rem 0 0;
  }
  .hc-time-box-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--var-timer-bg);
    color: #fff;
    //   padding: 0.75rem 1.5rem;
    height: 9.5rem;
    width: 8.5rem;
    border-radius: 1rem;
    span {
      font-size: 3.5rem;
      font-weight: 700;
      display: block;
    }
    h6 {
      color: var(--user-details-p);
      font-size: 1.45rem;
      font-weight: 500;
    }
  }
}
.coomsoonlast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem 0 2rem 0;
  p {
    color: #69697c;
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0 0 4rem 0;
  }
  .coomsooninput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45rem;
    border-radius: 4rem;
    padding: 1rem;
    background-color: var(--var-input-bgc);
    border: 1px solid var(--var-input-bor);
    input {
      width: 65%;
      border: unset;
      font-size: 1.6rem;
      color: #69697c;
      font-weight: 400;
      background-color: transparent;
      padding: 0 1rem;
    }
    input:focus {
      outline: none;
    }
    input::placeholder {
      font-size: 1.6rem;
      color: #69697c;
      font-weight: 400;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
      border-radius: 4rem;
      color: #fff;
      background-color: #195bff;
      font-size: 1.4rem;
      font-weight: 500;
      border: unset;
      padding: 1.65rem 0;
    }
  }
}
.coomsoonicons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0 0 0;
  width: 30%;
}

@media screen and (max-width: 850px) {
  .landing-content.comesoonsection .section-heading h2 {
    letter-spacing: 7px;
  }
  .comesoonpage .coomsoon-main .coomsoon-bg-light {
    height: 100vh;
  }
}

@media screen and (max-width: 650px) {
  .cslmainheader
  {
    padding: 0;
    margin: 0;
    .header-content 
    {
      padding: 5rem 0 0 2.5rem;
      height: 8.5rem;
      margin: 0;
    }
  }
.landing-content.comesoonsection {
  padding: 20rem 0 0 0 !important;
  margin: 0 !important;
}
  .coomsoontimer .hero-countdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
  }
  .coomsoontimer .hc-time-box {
    width: 100%;
    margin: 0 !important;
  }
  .coomsoontimer .hc-time-box-top span {
    font-size: 2.75rem;
  }
  .comesoonpage .coomsoon-main .coomsoon-bg-light {
    height: 100vh;
  }
  .landing-content.comesoonsection .section-heading {
    h2 {
      letter-spacing: 3px;
      font-size: 4.5rem;
    }
    p {
      margin: 3rem 0 0rem 0;
      z-index: 10;
      font-size: 2rem;
      width: 100%;
    }
  }

  header .header-content.cslmainheader {
    align-items: flex-start;
  }
  .coomsoontimer .hc-time-box {
    margin: 0 1.5rem 0 0;
  }
  .coomsoontimer .hc-time-box-top {
    height: 9.5rem;
    width: 7.5rem;
    border-radius: 0.75rem;
  }
  .hc-time-box.hcnmar {
    margin: 0;
  }
  .coomsoonlast {
    margin: 4rem 0 0 0;
    width: 100%;
  }
  .coomsoonlast .coomsooninput {
    width: 100%;
    padding: 0.5rem;
  }
  .landing-content.comesoonsection .section-heading img {
    width: 9rem;
    position: absolute;
    top: -2rem;
    right: -2rem;
    z-index: 9;
  }
  .coomsoonlast .coomsooninput {
    input {
      width: 100%;
    }
    button {
      width: max-content;
      padding: 1.25rem 2.5rem;
    }
  }
}
