.coomsoondark {
  width: 100%;
  //   height: 130vh;
  padding: 5rem;
  background-color: #243f71;
  .comsoondmain {
    width: 100%;
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 5rem;
    background-color: #243f71;
    header {
      position: absolute;
      top: 0;
      left: 0;
      .header-left {
        padding: 0 0 0 6rem;
        img {
          width: 20rem;
        }
      }
    }
    .comsoondcontent {
      z-index: 1001;
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
      br {
        display: none;
      }
      h1 {
        font-size: 10rem;
        letter-spacing: 7px;
        font-weight: 600;
        color: #fff;
        white-space: nowrap;
        padding: 15rem 0rem 0 5rem;
        font-family: conthrax, sans-serif;
        & * {
          font-family: conthrax, sans-serif;
        }
      }
      .comdarktimer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 4rem 0 8rem 0;
        .comdarkday {
          border: 1px solid rgba(255, 255, 255, 0.4);
          border-radius: 2.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1.25rem 3.75rem;
          h6 {
            font-size: 3.55rem;
            color: #fff;
            font-weight: 700;
            span {
              color: rgba(255, 255, 255, 0.4);
              font-size: 1.75rem;
              font-weight: 500;
            }
          }
        }
        p {
          font-size: 3rem;
          font-weight: 700;
          color: rgba(255, 255, 255, 0.6);
          margin: 0 2rem;
        }
      }
    }
    p {
      font-size: 3rem;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.6);
      margin: 0 1rem;
    }
  }
  h5 {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
  }
  h6 {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
  }
  h4 {
    color: #43dff6;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin: 2rem 0 8rem 0;
  }
  .coomsoonicons {
    text-align: center;
    margin: 0 auto;
    width: 11%;
  }
  .comdarkinput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
    margin: 3rem auto 7rem auto;
    input {
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 2rem;
      padding: 1.5rem 1.75rem;
      width: 65%;
      font-size: 1.6rem;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 400;
      background: transparent;
    }
    h4 {
      color: #43dff6;
      font-size: 2/2rem;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
      margin: 1.5rem 0 4rem 0;
    }
    .coomsoonicons {
      text-align: center;
      margin: 0 auto;
      width: 15%;
      padding: 0 0 4rem 0;
    }
  }
}

.backvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comdarkinput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 3rem auto 4rem auto;
  input {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2.75rem;
    padding: 1.5rem 1.75rem;
    width: 67%;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    background: transparent;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    color: #fff;
    background-image: linear-gradient(#394dff, #6833ff);
    border-radius: 2rem;
    width: 30%;
    border: unset;
    padding: 1.25rem 1.75rem;
  }
}

@media screen and (max-width: 1150px) {
  .coomsoondark .comsoondmain .comsoondcontent h1 {
    padding: 15rem 0 0 0rem;
    font-size: 9rem;
  }
}

@media screen and (max-width: 850px) {
  .coomsoondark .comsoondmain .comsoondcontent h1 {
    padding: 10rem 0 0 0rem;
    font-size: 6.25rem;
  }
  .coomsoondark .comsoondmain .comsoondcontent .comdarktimer {
    p {
      margin: 0 1.5rem;
    }
    .comdarkday {
      padding: 1.5rem 2rem;
      h6 {
        font-size: 2.75rem;
        display: flex;
        justify-content: center;
        span {
          font-size: 1.75rem;
          margin: 0.5rem 0.5rem 0 0.5rem;
        }
      }
    }
  }
  .coomsoondark .comdarkinput {
    width: 85%;
  }
  .coomsoondark h4 {
    margin: 2rem 0 5rem 0;
  }
  .coomsoondark .coomsoonicons {
    width: 20%;
  }
}

@media screen and (max-width: 650px) {
  .coomsoondark {
    padding: 1.5rem;
    .comsoondmain {
      padding: 2rem;
    }
  }
  .coomsoondark .comsoondmain .comsoondcontent {
    h1 {
      font-size: 4.25rem;
      text-align: center;
      padding: 9rem 0 0 0;
    }
    br {
      display: block;
    }
  }
  .coomsoondark .comsoondmain .comsoondcontent .comdarktimer .comdarkday h6 {
    font-size: 3.5rem;
    span {
      margin: 1.5rem 0.5rem 0 0.5rem;
    }
  }
  .coomsoondark .comsoondmain .comsoondcontent .comdarktimer {
    flex-direction: column;
    margin: 4rem 0;
  }
  .coomsoondark h5 {
    font-size: 1.85rem;
  }
  .coomsoondark .comdarkinput {
    flex-direction: column;
    width: 100%;
    input {
      width: 100%;
      margin: 0 0 2rem 0;
      padding: 2rem;
      border-radius: 1.5rem;
    }
    button {
      border-radius: 1.5rem;
      width: 100%;
      padding: 2rem 0;
    }
  }
  .coomsoondark .coomsoonicons {
    width: 40%;
  }
  .coomsoondark .comsoondmain .comsoondcontent .comdarktimer .comdarkday {
    width: 85%;
    height: 7.5rem;
    padding: 0;
    margin: 0 auto;
  }
  .coomsoondark h6 {
    font-size: 1.7rem;
  }
  .coomsoondark h4 {
    font-size: 1.8rem;
  }
  .coomsoondark .comsoondmain .comsoondcontent .comdarktimer .comdarkday {
    border-radius: 1.5rem;
  }
}
