.home {
  width: 100%;
  /* Hero Section */
  .hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .hero-bg-light {
      width: 100%;
      height: 105vh;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: bottom;
      z-index: 1;
    }
    .hero-content {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1.35fr;
      grid-template-rows: auto;
      grid-gap: 0;
      z-index: 2;
      position: relative;
    }
    .hero-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 0 0 7.5rem 0;

      h1 {
        position: relative;
        font-size: 6rem;
        line-height: 6.5rem;
        font-weight: 300;
        b {
          font-weight: 700;
        }
        img {
          position: absolute;
          width: 8.5rem;
          bottom: -1.5rem;
          right: -1.5rem;
          z-index: 9;
        }
        span {
          position: relative;
          z-index: 10;
        }
      }
      p {
        font-size: 1.75rem;
        color: #69697c;
        margin: 2.5rem 0 0 0;
      }
      .hero-countdopwn-box {
        width: 100%;
        margin: 7.5rem 0 0 0;
      }
      .hero-countdopwn-box > h6 {
        font-size: 1.65rem;
        color: #1f194d;
        margin: 0 0 1.5rem 0;
        font-weight: 600;
      }
      .hero-countdown {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .hero-countdown > * {
        margin: 0 0 2.5rem 0;
      }
      .hc-time-box {
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 2.5rem 0 0;
      }
      .hc-time-box-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 0.5rem;
        span {
          font-size: 3.5rem;
          background-color: #1f194d;
          color: #fff;
          padding: 0.75rem 1.5rem;
          border-radius: 1rem;
          font-weight: 700;
          display: block;
        }
      }
      .hc-time-box h6 {
        font-size: 1.5rem;
        color: #1f194d;
        margin: 0.65rem 0 0 0;
        font-weight: 500;
      }
    }
    .hero-right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      padding: 0 0 3.5rem 0;
      .swiper-slide-content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .swiper {
          width: 100%;
        }
      }
      .hsb-round-btns-box {
        width: max-content;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transform: translate(1.75rem, 0);
      }
      .hero-glare {
        width: 150%;
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.35;
      }
      .hero-swiper-box {
        width: 100%;
        height: 55rem;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 0;
        .swiper {
          width: 100%;
        }
        img {
          max-height: 47.5rem;
          object-fit: contain;
        }
        .hero-swiper-img-1-box {
          background-color: #fff;
          padding: 1.5rem;
          border-radius: 5rem;
          box-shadow: 0 15px 10px rgba(47, 168, 255, 0.1);
          width: max-content;
        }
      }
    }
  }
  /* About Section */
  .about {
    width: 100%;
    min-height: 100vh;
    .about-content {
      width: 100%;
      min-height: 100vh;
      display: grid;
      grid-template-columns: 1.25fr 1fr;
      .about-left {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 85%;
          object-fit: contain;
        }
      }
      .about-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        .ellipse-yellow {
          width: 2rem;
          position: relative;
          z-index: 10;
          position: absolute;
          top: 20%;
          right: 0%;
        }
        .blob-lightblue {
          width: 6.5rem;
          position: relative;
          z-index: 10;
          position: absolute;
          top: 35%;
          left: -5%;
          z-index: 10;
        }
        h6 {
          font-size: #69697c;
          font-size: 2rem;
          font-weight: 400;
          z-index: 10;
          position: relative;
          display: flex;
          align-items: center;
          img {
            width: 4rem;
            margin: 0 0 0 0.75rem;
          }
        }
        h5 {
          font-size: 2.5rem;
          line-height: 3.25rem;
          font-weight: 300;
          color: #1f194d;
          z-index: 10;
          position: relative;
          margin: 1.5rem 0;
          b {
            font-weight: 700;
          }
        }
        p {
          font-size: 1.75rem;
          line-height: 2.75rem;
          color: #1f194d;
          z-index: 10;
          position: relative;
          b {
            font-weight: 700;
          }
        }
      }
    }
  }
  /* Collections Section */
  .collections {
    width: 100%;
    position: relative;
    padding: 7.5rem 0;
    margin: 0 0 7.5rem 0;
    .collections-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      object-fit: cover;
    }
    .collections-content {
      width: 100%;
      position: relative;
      z-index: 2;
    }
    .collections-grid {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 5rem;
      margin: 7.5rem 0 0 0;
    }
  }
  .subscribe .subscribe-grid {
    margin: 7.5rem 0;
  }
  .letushelp-grid {
    margin: 7.5rem 0;
    .accordion {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 1.5rem;
    }
  }
}

.luh-social-grid {
  width: max-content;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  margin: 1.5rem 0 0 0;
}


