.subscribepage {
    width: 100%;
    .subimgbox {
      width: 100%;
      .subscribe-bg-light {
        width: 100%;
        height: 105vh;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: bottom;
        z-index: 1;
      }
    }
  }
.subscribe-content.subsmainpage
{
    margin: 25rem 0 15rem 0;
    .section-heading
    {
        p 
        {
            margin: 2.5rem 0 8rem 0;
            z-index: 10;
        }
    }  
    .subscribe-grid-card
    {
        z-index: 10;
        cursor: pointer;
    }  
}