.vaultmainpage {
  width: 100%;
  .vault-bg-light {
    width: 100%;
    height: 105vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: bottom;
    z-index: 1;
  }
  .vault-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2.5rem;
    z-index: 10;
    margin: 10rem 0 0 0;
    .vault-grid-card {
      width: 100%;
      padding: 2.5rem;
      border-radius: 1.5rem;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      padding: 3.5rem;
      overflow: hidden;
      position: relative;
      background-color: var(--round-chevron-box);
      .vault-grid-card-bottom {
        width: 100%;
        margin: 2.5rem 0;
        .vault-swiper {
          width: 100%;
          position: relative;
          .vault-swiper-left {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            z-index: 10;
          }
          .vault-swiper-right {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            z-index: 10;
          }
          .swiper-slide-content {
            width: 100%;
            img {
              width: 100%;
              height: max-content;
              object-fit: cover;
              border-radius: 1rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .vaultmainpage .vault-grid {
    grid-template-columns: 1fr;
    margin: 7.5rem 0 0 0;
  }
}
@media screen and (max-width: 650px) {
  .page-body-con {
    margin: 15rem 0 5rem 0;
  }
  .vaultmainpage
    .vault-grid
    .vault-grid-card
    .vault-grid-card-bottom
    .vault-swiper
    .vault-swiper-left,
  .vaultmainpage
    .vault-grid
    .vault-grid-card
    .vault-grid-card-bottom
    .vault-swiper
    .vault-swiper-right {
    display: none;
  }
}
