@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  font-size: 10px;
}

* {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-family: "Cairo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app.dark-theme {
  --bg-color: #000;
  --text-color: #fff;
}

.app.light-theme {
  --bg-color: #fff;
  --text-color: #000;
}

.app {
  width: 100%;
  min-height: 100vh;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app.light-theme .light-img {
  display: block;
}

.app.light-theme .dark-img {
  display: none;
}

.app.dark-theme .light-img {
  display: none;
}

.app.dark-theme .dark-img {
  display: block;
}

.box {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 5rem;
  margin: 0 auto;
}

.design-system {
  padding: 5rem;
}

.app {
  min-height: 100vh;
}

.app ul {
  padding-left: 0;
}

.app h1,
.app h2,
.app h3,
.app h4,
.app h5,
.app h6,
.app p {
  margin: 0;
}

.top-notch {
  width: 6.5rem;
  height: 5px;
  top: 0;
  left: 50%;
  background-color: #ff409c;
  position: absolute;
  display: block;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  border-radius: 5px 5px 0 0;
}

.top-notch.top-notch-pink {
  background-color: #ff409c;
}

.top-notch.top-notch-blue {
  background-color: #195bff;
}

.top-notch.top-notch-yellow {
  background-color: #fcc21b;
}

button {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.dark-blue-btn-filled {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #195bff;
  color: #fff;
  font-size: 1.65rem;
  font-weight: 700;
  padding: 1.25rem 3.5rem;
  border: 1px solid transparent;
  border-radius: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dark-blue-btn-filled svg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 2.25rem;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 0 0.75rem 0 0;
}

.light-blue-btn-filled {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(25, 90, 255, 0.15);
  color: #195bff;
  font-size: 1.65rem;
  font-weight: 600;
  padding: 1.25rem 3.5rem;
  border: 1px solid transparent;
  border-radius: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.light-blue-btn-filled svg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 2.25rem;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 0 0.75rem 0 0;
}

.light-blue-btn-filled.btn-sm-ds,
.dark-blue-btn-filled.btn-sm-ds {
  padding: 1rem 3rem;
}

.home {
  width: 100%;
  /* Hero Section */
  /* About Section */
  /* Collections Section */
}

.home .hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home .hero .hero-bg-light {
  width: 100%;
  height: 105vh;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
  z-index: 1;
}

.home .hero .hero-content {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 10rem;
  z-index: 2;
  position: relative;
}

.home .hero .hero-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 0 7.5rem 0;
}

.home .hero .hero-left h1 {
  position: relative;
  font-size: 6rem;
  line-height: 6.5rem;
  font-weight: 300;
}

.home .hero .hero-left h1 b {
  font-weight: 700;
}

.home .hero .hero-left h1 img {
  position: absolute;
  width: 8.5rem;
  bottom: -1.5rem;
  right: -1.5rem;
  z-index: 9;
}

.home .hero .hero-left h1 span {
  position: relative;
  z-index: 10;
}

.home .hero .hero-left p {
  font-size: 1.75rem;
  color: #69697c;
  margin: 2.5rem 0 0 0;
}

.home .hero .hero-left .hero-countdopwn-box {
  width: 100%;
  margin: 7.5rem 0 0 0;
}

.home .hero .hero-left .hero-countdopwn-box > h6 {
  font-size: 1.65rem;
  color: #1f194d;
  margin: 0 0 1.5rem 0;
  font-weight: 600;
}

.home .hero .hero-left .hero-countdown {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.home .hero .hero-left .hero-countdown > * {
  margin: 0 0 2.5rem 0;
}

.home .hero .hero-left .hc-time-box {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 2.5rem 0 0;
}

.home .hero .hero-left .hc-time-box-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
}

.home .hero .hero-left .hc-time-box-top span {
  font-size: 3.5rem;
  background-color: #1f194d;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  font-weight: 700;
  display: block;
}

.home .hero .hero-left .hc-time-box h6 {
  font-size: 1.5rem;
  color: #1f194d;
  margin: 0.65rem 0 0 0;
  font-weight: 500;
}

.home .hero .hero-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  padding: 0 0 7.5rem 0;
}

.home .hero .hero-right .hero-glare {
  width: 125%;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.75;
}

.home .hero .hero-right .hero-swiper-box {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 0;
  /* display: flex;
        align-items: center;
        justify-content: center; */
}

.home .hero .hero-right .hero-swiper-box img {
  max-height: 47.5rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.home .hero .hero-right .hero-swiper-box .hero-swiper-img-1-box {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5rem;
  -webkit-box-shadow: 0 15px 10px rgba(47, 168, 255, 0.1);
  box-shadow: 0 15px 10px rgba(47, 168, 255, 0.1);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.home .about {
  width: 100%;
  min-height: 100vh;
}

.home .about .about-content {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.25fr 1fr;
  grid-template-columns: 1.25fr 1fr;
}

.home .about .about-content .about-left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home .about .about-content .about-left img {
  width: 85%;
  -o-object-fit: contain;
  object-fit: contain;
}

.home .about .about-content .about-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.home .about .about-content .about-right .ellipse-yellow {
  width: 2rem;
  position: relative;
  z-index: 10;
  position: absolute;
  top: 20%;
  right: 0%;
}

.home .about .about-content .about-right .blob-lightblue {
  width: 6.5rem;
  position: relative;
  z-index: 10;
  position: absolute;
  top: 35%;
  left: -5%;
  z-index: 10;
}

.home .about .about-content .about-right h6 {
  font-size: #69697c;
  font-size: 2rem;
  font-weight: 400;
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home .about .about-content .about-right h6 img {
  width: 4rem;
  margin: 0 0 0 0.75rem;
}

.home .about .about-content .about-right h5 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  font-weight: 300;
  color: #1f194d;
  z-index: 10;
  position: relative;
  margin: 1.5rem 0;
}

.home .about .about-content .about-right h5 b {
  font-weight: 700;
}

.home .about .about-content .about-right p {
  font-size: 1.75rem;
  line-height: 2.75rem;
  color: #1f194d;
  z-index: 10;
  position: relative;
}

.home .about .about-content .about-right p b {
  font-weight: 700;
}

.home .collections {
  width: 100%;
  position: relative;
  padding: 7.5rem 0;
}

.home .collections .collections-bg {
  width: 100%;
  max-height: 45rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.home .collections .collections-content {
  width: 100%;
  position: relative;
  z-index: 2;
}

.home .collections .collections-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 5rem;
  margin: 7.5rem 0;
}

.home .collections .collections-grid-card {
  background-color: #fff;
  padding: 2.5rem 3rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.05);
}

.home .collections .collections-grid-card .cgc-top {
  width: 100%;
  margin: 0 0 2rem 0;
}

.home .collections .collections-grid-card .cgc-top h6 {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
}

.home .collections .collections-grid-card .cgc-top h6 img {
  width: 4rem;
  margin: 0 0.75rem 0 0;
}

.home .collections .collections-grid-card .cgc-bottom {
  position: relative;
}

.home .collections .collections-grid-card .cgc-bottom img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.5rem;
}

.home .collections .collections-grid-card .cgc-bottom .coming-tag {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem 2.5rem;
  font-size: 1.75rem;
  white-space: nowrap;
  border-radius: 1000px;
  font-weight: 600;
}

.home .collections .collections-grid-card .cgc-bottom .coming-tag span {
  width: 6.5rem;
  height: 5px;
  top: 0;
  left: 50%;
  background-color: #ff409c;
  position: absolute;
  display: block;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  border-radius: 5px 5px 0 0;
}

.home .subscribe .subscribe-grid {
  margin: 7.5rem 0;
}

.home .letushelp-grid {
  margin: 7.5rem 0;
}

.home .letushelp-grid .accordion {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
}

.letushelp {
  width: 100%;
}
.letushelp .luh-main {
  width: 100%;
}
.letushelp .luh-main .landing-bg-light {
  width: 100%;
  height: 105vh;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
  z-index: 1;
}

.letushelp-content.hiwsection {
  margin: 25rem 0 15rem 0;
}
.letushelp-content.hiwsection .section-heading p {
  margin: 2.5rem 0 8rem 0;
  z-index: 10;
}
.letushelp-content.hiwsection .letushelp-grid .accordion-item {
  margin: 0 0 3rem 0 !important;
  z-index: 10;
}
.letushelp-content.hiwsection .faq-a p span {
  color: #000000;
  font-weight: 700;
}

.landingpage {
  width: 100%;
}

.landingpage .landing-main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.landingpage .landing-main .landing-bg-light {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
  z-index: 1;
}

.landing-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  position: relative;
  margin: 25rem 0 5rem 0;
}

.landing-content .landing-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0 0 20rem 0;
}

.landing-content .landing-head h3 {
  margin: 0 0 0 1rem;
  font-size: 3.2rem;
  font-weight: 700;
}

.landing-content .landing-head svg {
  width: 7rem;
  height: 7rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.landing-content .landing-progres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 10%;
  height: 0.65rem;
  background-color: #c9dbe5;
  border-radius: 0.35rem;
}

.landing-content .landing-progres .land-inner-prog {
  width: 64%;
  height: 0.65rem;
  border-radius: 0.35rem;
  background-color: #195bff;
}

.landing-content h5 {
  margin: 3rem 0;
}

.subscribepage {
  width: 100%;
}
.subscribepage .subimgbox {
  width: 100%;
}
.subscribepage .subimgbox .subscribe-bg-light {
  width: 100%;
  height: 105vh;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
  z-index: 1;
}

.subscribe-content.subsmainpage {
  margin: 25rem 0 15rem 0;
}
.subscribe-content.subsmainpage .section-heading p {
  margin: 2.5rem 0 8rem 0;
  z-index: 10;
}
.subscribe-content.subsmainpage .subscribe-grid-card {
  z-index: 10;
  cursor: pointer;
}

.teammainbox {
  width: 100%;
}
.teammainbox .teampage {
  width: 100%;
}
.teammainbox .teampage .team-bg-light {
  width: 100%;
  height: 105vh;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
  z-index: 1;
}

.team-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.team-grid h3 {
  margin: 4.5rem 0;
  color: #1f194d;
  font-size: 3.4rem;
  z-index: 10;
}

.team-grid .team-grid-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 3rem 8rem;
  width: 55%;
  margin: 0 auto;
}

.team-grid .team-grid-content .team-grid-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.team-grid .team-grid-content .team-grid-main img {
  width: 100%;
  max-height: 14rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.team-grid .team-grid-content .team-grid-main h6 {
  color: #1f194d;
  margin: 1rem 0 0 0;
  font-size: 1.8rem;
}

h1 {
  font-size: 6.4rem;
  font-weight: 800;
}

h2 {
  font-size: 4.2rem;
  font-weight: 800;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

h4 {
  font-size: 2.4rem;
  font-weight: 700;
}

h5 {
  font-size: 2.4rem;
  font-weight: 700;
}

h6 {
  font-size: 2.4rem;
  font-weight: 700;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1001;
}

header .header-content {
  width: 100%;
  height: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .header-content .header-left {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

header .header-content .header-left > svg {
  height: 2.5rem;
  -o-object-fit: contain;
  object-fit: contain;
}

header .header-content .header-left ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0 0 7.5rem;
}

header .header-content .header-left ul li {
  list-style: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 5rem 0 0;
}

header .header-content .header-left ul li a {
  text-decoration: none;
  font-size: 1.75rem;
  color: #4d4d62;
}

header .header-content .header-left ul li a b {
  font-size: 2rem;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

header .header-content .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

header .header-content .header-right > * {
  margin: 0 0 0 2.5rem;
}

header .header-content .header-right > svg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 2.5rem;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #1553cb;
  padding: 7.5rem 0 0 0;
  position: relative;
}

footer .footer-top {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 5rem;
}

footer .footer-top .footer-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

footer .footer-top .footer-left svg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 2.5rem;
  -o-object-fit: contain;
  object-fit: contain;
}

footer .footer-top .footer-left p {
  font-size: 2rem;
  color: #fff;
  margin: 5rem 0 2.5rem 0;
}

footer .footer-top .footer-left .fl-icons-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

footer .footer-top .footer-left .fl-icons-grid svg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 2rem;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 0 2.5rem 0 0;
}

footer .footer-top .footer-center h6 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 4rem 0;
}

footer .footer-top .footer-center .fc-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 2rem 1rem;
}

footer .footer-top .footer-center .fc-grid a {
  font-size: 1.65rem;
  font-weight: 300;
  color: #c0d0ee;
  text-decoration: none;
}

footer .footer-top .footer-center .fc-grid a b {
  font-weight: 800;
  color: #fff;
}

footer .footer-top .footer-right {
  width: 100%;
}

footer .footer-top .footer-right h6 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #fff;
}

footer .footer-top .footer-right p {
  font-size: 1.65rem;
  font-weight: 300;
  color: #c0d0ee;
  margin: 4rem 0;
}

footer .footer-top .footer-right p svg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 2rem;
  margin: 0 0.5rem;
}

footer .footer-top .footer-right .fr-subscribe-input-box {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 1rem;
  background-color: #2352a1;
  border-radius: 1rem;
  padding: 1rem;
}

footer .footer-top .footer-right .fr-subscribe-input-box button {
  background-color: #195bff;
  padding: 0.75rem 2.5rem;
  font-weight: 500;
  color: #fff;
  font-size: 1.65rem;
  border: 0;
  border-radius: 0.5rem;
}

footer .footer-top .footer-right .fr-subscribe-input-box input {
  background-color: transparent;
  color: #fff;
  font-size: 1.65rem;
  border: 0;
  outline: 0;
  padding: 0 0 0 1.5rem;
}

footer
  .footer-top
  .footer-right
  .fr-subscribe-input-box
  input::-webkit-input-placeholder {
  color: #c0d0ee;
}

footer
  .footer-top
  .footer-right
  .fr-subscribe-input-box
  input:-ms-input-placeholder {
  color: #c0d0ee;
}

footer
  .footer-top
  .footer-right
  .fr-subscribe-input-box
  input::-ms-input-placeholder {
  color: #c0d0ee;
}

footer .footer-top .footer-right .fr-subscribe-input-box input::placeholder {
  color: #c0d0ee;
}

footer .footer-bottom {
  width: 100%;
  padding: 3.5rem 0;
  margin: 3.5rem 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

footer .footer-bottom p {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.65rem;
}

footer .more-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #1f194d;
  color: #fff;
  font-size: 2rem;
  border-radius: 1000px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 1rem 2.5rem;
}

footer .more-btn svg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 2rem;
  margin: 0 0 0 0.5rem;
}

.section-heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-heading .sh-heading {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.section-heading .sh-heading h2 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 800;
  position: relative;
  z-index: 10;
  color: #1f194d;
}

.section-heading .sh-heading img {
  width: 6.5rem;
  position: absolute;
  top: 0rem;
  right: -2.5rem;
  z-index: 9;
}

.section-heading p {
  font-size: 2rem;
  color: #69697c;
  text-align: center;
  line-height: 2.5rem;
  margin: 2.5rem 0 0 0;
}

.subscribe-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 3.5rem;
}

.subscribe-grid .subscribe-grid-card {
  width: 100%;
  border-radius: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.subscribe-grid .subscribe-grid-card:hover {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.subscribe-grid .subscribe-grid-card h3 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #1f194d;
  padding: 2.5rem 0 0 0;
  width: 100%;
  text-align: center;
}

.subscribe-grid .subscribe-grid-card h4 {
  font-size: 3.25rem;
  line-height: 3.25rem;
  font-weight: 800;
  color: #1f194d;
  padding: 2.5rem 0;
  margin: 2.5rem 0;
  width: 100%;
  text-align: center;
  background-color: #ecf1fa94;
}

.subscribe-grid .subscribe-grid-card .subscribe-options-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
}

.subscribe-grid
  .subscribe-grid-card
  .subscribe-options-grid
  .subscribe-options-grid-entry {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0 3.5rem;
}

.subscribe-grid
  .subscribe-grid-card
  .subscribe-options-grid
  .subscribe-options-grid-entry
  svg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 1.25rem;
  margin: 0.85rem 1rem 0 0;
}

.subscribe-grid
  .subscribe-grid-card
  .subscribe-options-grid
  .subscribe-options-grid-entry
  p {
  font-size: 1.5rem;
  width: 75%;
  color: #69697c;
}

.subscribe-grid
  .subscribe-grid-card
  .subscribe-options-grid
  .subscribe-options-grid-entry
  p.soge-not-available {
  color: #a9a9bf;
}

.subscribe-grid .subscribe-grid-card .subscribe-btn-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 5rem 0;
}

.subscribe-grid .subscribe-grid-card .subscribe-btn-box button {
  width: calc(100% - 7rem);
}

.letushelp-grid .accordion-body {
  padding: 1.5rem 0 0 0;
}

.letushelp-grid .accordion-item {
  border-radius: 1.5rem !important;
  border: 0 !important;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.075);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.075);
  padding: 2.75rem;
}

.letushelp-grid .accordion-button:not(.collapsed) {
  color: unset;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  border: 0 !important;
  background-color: unset !important;
  padding: 0;
}

.letushelp-grid .accordion-button:not(.collapsed) svg {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.letushelp-grid .accordion-button::after {
  display: none !important;
}

.letushelp-grid .accordion-button:focus {
  border: 0 !important;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
}

.letushelp-grid .accordion-button {
  padding: 0;
}

.letushelp-grid .faq-q {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.letushelp-grid .faq-q h5 {
  font-size: 1.85rem;
  color: #1f194d;
  font-weight: 700;
  width: 85%;
}

.letushelp-grid .faq-q svg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 0.85rem;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.letushelp-grid .faq-a {
  width: 100%;
}

.letushelp-grid .faq-a p {
  font-size: 1.65rem;
  color: #807e8e;
}

.letushelp-grid .faq-a p a {
  color: #195bff;
  font-weight: 700;
  text-decoration: underline;
}

/* .hero-swiper-box .swiper-slide {
  width: 20rem !important;
  overflow: hidden;
  border: 5px dotted green;
} */
/*# sourceMappingURL=main.css.map */
